In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
typee="csv"
key="6KJjq5kJn1"

In [3]:
ana_veri = pd.read_csv(f"https://evds2.tcmb.gov.tr/service/evds/datagroups/key={key}&mode=0&type={typee}")

ana_veri.drop(["CATEGORY_ID","NOTE_ENG","METADATA_LINK","REV_POL_LINK_ENG",
         "UPPER_NOTE_ENG","APP_CHA_LINK_ENG","REV_POL_LINK","APP_CHA_LINK",
         "METADATA_LINK_ENG","DATAGROUP_NAME_ENG","UPPER_NOTE","DATASOURCE_ENG","NOTE"], 
          axis=1,inplace=True)
         
ana_veri.head(10)

,END_DATE,START_DATE,DATAGROUP_NAME,DATAGROUP_CODE,FREQUENCY,DATASOURCE,FREQUENCY_STR
0,03-12-2021,25-12-1987,Merkez Bankası Rezervleri (Milyon ABD Doları),bie_abres2,5,TCMB,HAFTALIK(CUMA)
1,01-09-2021,01-01-1981,Uluslararası Rezervler (Milyon ABD Doları),bie_abreserv,9,TCMB,AYLIK
2,03-12-2021,04-01-2002,Merkez Bankası Bilançosu-Stand By-18.01.2002 T...,bie_abstc2,5,TCMB,HAFTALIK(CUMA)
3,01-10-2021,01-01-2010,Şirket İstatistikleri-Açılan-Kapanan (TOBB),bie_ackap2,9,TOBB,AYLIK
4,10-12-2021,03-01-2011,TCMB Net Fonlaması ve TCMB Ağırlıklı Ortalama ...,bie_apifon,2,TCMB,İŞ GÜNÜ
5,03-12-2021,30-12-2005,"Haftalık, Krediler - Bankalar ve Finansman Şir...",bie_bftukkre,5,"BANKALAR, FİNANSMAN ŞİRKETLERİ",HAFTALIK(CUMA)
6,01-07-2021,01-10-2005,Banka Kredileri Eğilim Anketi (Net Yüzde Değişim),bie_bkea,13,TCMB,ÜÇ AYLIK
7,03-12-2021,30-12-2005,"Haftalık, Seçilmiş Bilanço Büyüklükleri - Bank...",bie_bosecbil,5,BANKALAR,HAFTALIK(CUMA)
8,01-11-2021,01-01-2008,Bankalararası Takas Odalarında İşlem Gören Çek...,bie_btocek,9,BANKALARARASI TAKAS ODALARI MERKEZİ,AYLIK
9,03-12-2021,09-05-2003,"Haftalık, Türkiye de Yerleşiklerle İlgili Seçi...",bie_byybil,5,BANKALAR,HAFTALIK(CUMA)

In [4]:
ana_veri[ana_veri["DATAGROUP_NAME"]=="Haftalık, Yabancı Para Mevduatları - Bankacılık Sektörü (Bin TL)"]

,END_DATE,START_DATE,DATAGROUP_NAME,DATAGROUP_CODE,FREQUENCY,DATASOURCE,FREQUENCY_STR
138,03-12-2021,28-12-2012,"Haftalık, Yabancı Para Mevduatları - Bankacılı...",bie_ypmevd,5,BANKALAR,HAFTALIK(CUMA)

In [5]:
alt_veri = pd.read_csv(f"https://evds2.tcmb.gov.tr/service/evds/serieList/key={key}&type={typee}&code=bie_ypmevd")
                       
alt_veri.drop(["DATASOURCE_ENG","METADATA_LINK","REV_POL_LINK_ENG",
        "APP_CHA_LINK_ENG","TAG_ENG","METADATA_LINK_ENG","DEFAULT_AGG_METHOD_STR",
        "TAG","REV_POL_LINK","APP_CHA_LINK","DEFAULT_AGG_METHOD"], axis=1,inplace=True)
                       
alt_veri.head(10)

,SERIE_NAME,END_DATE,START_DATE,SERIE_CODE,DATAGROUP_CODE,DATASOURCE,SERIE_NAME_ENG,FREQUENCY_STR
0,A.TOPLAM YP MEVDUATLAR,03-12-2021,28-12-2012,TP.YPMEVD.M01,bie_ypmevd,BANKALAR,A.TOTAL FX DEPOSITS,HAFTALIK(CUMA)
1,A.I.TCMB'DEKI KREDİ MEKTUPLU DÖVİZ TEVDİAT HESABI,03-12-2021,14-12-2012,TP.YPMEVD.M02,bie_ypmevd,BANKALAR,A.I.FOREIGN EXCHANGE DEPOSITS WITH CBRT,HAFTALIK(CUMA)
2,A.II.BANKALARDAKİ TOPLAM YP MEVDUATLAR,03-12-2021,28-12-2012,TP.YPMEVD.M03,bie_ypmevd,BANKALAR,A.II.TOTAL FX DEPOSITS WITH BANKS,HAFTALIK(CUMA)
3,A.II.A.MEVDUAT BANKALARI,03-12-2021,28-12-2012,TP.YPMEVD.M04,bie_ypmevd,BANKALAR,A.II.A.DEPOSIT MONEY BANKS,HAFTALIK(CUMA)
4,A.II.A.1.Yurtiçinde Yerleşikler,03-12-2021,14-12-2012,TP.YPMEVD.M05,bie_ypmevd,BANKALAR,A.II.A.1.Residents,HAFTALIK(CUMA)
5,A.II.A.2.Yurtiçinde Yerleşik Bankalar,03-12-2021,28-12-2012,TP.YPMEVD.M06,bie_ypmevd,BANKALAR,A.II.A.2.Resident Banks,HAFTALIK(CUMA)
6,A.II.A.3.Yurtdışında Yerleşikler,03-12-2021,14-12-2012,TP.YPMEVD.M07,bie_ypmevd,BANKALAR,A.II.A.3.Non-Residents,HAFTALIK(CUMA)
7,A:II.A.4.Yurtdışında Yerleşik Bankalar,03-12-2021,28-12-2012,TP.YPMEVD.M08,bie_ypmevd,BANKALAR,A.II.A.4.Non-Resident Banks,HAFTALIK(CUMA)
8,A.II.B.KATILIM BANKALARI,03-12-2021,14-12-2012,TP.YPMEVD.M09,bie_ypmevd,BANKALAR,A.II.B.PARTICIPATION BANKS,HAFTALIK(CUMA)
9,A.II.B.1.Yurtiçinde Yerleşikler,03-12-2021,14-12-2012,TP.YPMEVD.M10,bie_ypmevd,BANKALAR,A.II.B.1.Residents,HAFTALIK(CUMA)

In [6]:
alt_veri[alt_veri["SERIE_CODE"]=="TP.YPMEVD.M28"]

,SERIE_NAME,END_DATE,START_DATE,SERIE_CODE,DATAGROUP_CODE,DATASOURCE,SERIE_NAME_ENG,FREQUENCY_STR
29,B.I.A.1.A.GERÇEK KİŞİLER,03-12-2021,14-12-2012,TP.YPMEVD.M28,bie_ypmevd,BANKALAR,B.I.A.1.A.REAL PERSONS,HAFTALIK(CUMA)

In [7]:
alt_veri[alt_veri["SERIE_CODE"]=="TP.YPMEVD.M41"]

,SERIE_NAME,END_DATE,START_DATE,SERIE_CODE,DATAGROUP_CODE,DATASOURCE,SERIE_NAME_ENG,FREQUENCY_STR
43,B.I.A.1.B.TUZEL KİŞİLER,03-12-2021,14-12-2012,TP.YPMEVD.M41,bie_ypmevd,BANKALAR,B.I.A.1.B.LEGAL PERSONS,HAFTALIK(CUMA)

In [8]:
#merkez bankası formatında yazılmalıdır.
startDate= "14-12-2012"
endDate="31-12-2021"
typee="csv"
key="6KJjq5kJn1"
aggregationTypes="avg"
formulas="0"
frequency = "3"

In [9]:
gercek_kisiler =alt_veri.loc[29,"SERIE_CODE"]
tuzel_kisiler =alt_veri.loc[43,"SERIE_CODE"]

In [10]:
#url oluşturma
gercek_url = 'https://evds2.tcmb.gov.tr/service/evds/series={}&startDate={}&endDate={}&type={}&key={}&aggregationTypes={}&formulas={}&frequency={}'.format(gercek_kisiler,startDate,endDate,typee,key,aggregationTypes,formulas,frequency)
tuzel_url = 'https://evds2.tcmb.gov.tr/service/evds/series={}&startDate={}&endDate={}&type={}&key={}&aggregationTypes={}&formulas={}&frequency={}'.format(tuzel_kisiler,startDate,endDate,typee,key,aggregationTypes,formulas,frequency)
#url'yi değişkene atama
gercek_df = pd.read_csv(gercek_url)
tuzel_df = pd.read_csv(tuzel_url)

In [11]:
gercek_df.head()

        Tarih YEARWEEK  TP_YPMEVD_M28                     UNIXTIME
0  14-12-2012  2012-50   63038.000000  {"numberLong":"1355439600"}
1  21-12-2012  2012-51   63235.000000  {"numberLong":"1356044400"}
2  28-12-2012  2012-52   70709.760473  {"numberLong":"1356649200"}
3  04-01-2013   2013-1   70688.180474  {"numberLong":"1357254000"}
4  11-01-2013   2013-2   71749.854033  {"numberLong":"1357858800"}

In [12]:
tuzel_df.head()

        Tarih YEARWEEK  TP_YPMEVD_M41                     UNIXTIME
0  14-12-2012  2012-50   40406.000000  {"numberLong":"1355439600"}
1  21-12-2012  2012-51   40865.000000  {"numberLong":"1356044400"}
2  28-12-2012  2012-52   41962.055668  {"numberLong":"1356649200"}
3  04-01-2013   2013-1   40331.253221  {"numberLong":"1357254000"}
4  11-01-2013   2013-2   42823.882665  {"numberLong":"1357858800"}

In [13]:
gercek_df.shape

(469, 4)

In [14]:
tuzel_df.shape

(469, 4)

In [15]:
import json
gercek_records = json.loads(gercek_df.T.to_json()).values()
tuzel_records = json.loads(tuzel_df.T.to_json()).values()

In [16]:
#Connection to MongoDb
import pymongo  #pymongo packages for transfering codes to MongoDB
import ssl
import certifi
ca = certifi.where()
client = pymongo.MongoClient("mongodb+srv://merve:x20238096@dapcluster.zatfd.mongodb.net/DAPDB?retryWrites=true&w=majority",tlsCAFile=ca)

db = client['Project_db']
collection_gercek = db['gercekKisilerMevduati']
collection_tuzel = db['tuzelKisilerMevduati']

In [17]:
gercek_mongo = collection_gercek.insert_many(gercek_records)
tuzel_mongo = collection_tuzel.insert_many(tuzel_records)

In [18]:
y = collection_gercek.find_one()
print(y)

{'_id': ObjectId('61b5ec568451ff29fbd48ae5'), 'Tarih': '14-12-2012', 'YEARWEEK': '2012-50', 'TP_YPMEVD_M28': 63038.0, 'UNIXTIME': '{"numberLong":"1355439600"}'}

In [19]:
y = collection_tuzel.find_one()
print(y)

{'_id': ObjectId('61b5ec568451ff29fbd48cba'), 'Tarih': '14-12-2012', 'YEARWEEK': '2012-50', 'TP_YPMEVD_M41': 40406.0, 'UNIXTIME': '{"numberLong":"1355439600"}'}